@import './vars';

main.about-page {
    background-color: #242424;

    section#about {
        padding: 2rem;
        
        div.about-container {
            // padding: 0 2rem;
            // display: flex;
            // align-items: center;
            // justify-content: center;
            // justify-content: space-between;
            max-width: $Medium;
            margin: auto;

            h1 {
                q {
                    text-align: center;
                    // font-family: 'PT Sans', sans-serif;
                    // color: $alice-blue;
                    color: $sky-blue;
                    // color: $carolina-blue;
                    // color: $honey-yellow;
                    // color: $aquamarine;
                }
            }
        

                p {
                    line-height: 1.6;
                    font-size: 1.4rem;
                    font-weight: 2;
                    color: $alice-blue;
                }
        }
    }

    section.about-skills {
        // background-color: $alice-blue;
        // background-color: $dark-grey;
        padding: 1rem 1rem 2rem;
        max-width: $Largest;
        margin: auto;

        h2 {
            margin-bottom: 2rem;
            // color: $alice-blue;
            // color: $sky-blue;
            color: $carolina-blue;
            // color: $honey-yellow;
            // color: $aquamarine;
        }

        div.skills-list {
            display: flex;
            justify-content: center;
            justify-content: space-around;
            font-size: 3rem;


            .fa-js-square {
                color: rgb(239, 216, 26)
            }

            .fa-html5 {
                color: #DB4E25;
            }

            .fa-shopify {
                color: rgb(149, 191, 71)
            }

            .fa-aws {
                color: #F1931C;
            }

            .fa-react {
                color: #5addff;
            }

            .fa-node-js {
                color: #529942;
            }

            .fa-sass {
                color: #C76395;
            }

            .fa-css3-alt {
                color: $sky-blue;
            }

            .fa-github {
                color: #90d6ff;
            }

            svg path {
                color: #4395c5;
            }

            // i, svg path {
            //     color: $carolina-blue;
            //     color: $honey-yellow;
            //     color: $aquamarine;
            // }
        }
    }
}

