@import './vars';

main#contact {
    text-align: center;
    display: block;

    h1 {
        margin-bottom: 1rem;
    }

    form {
        display: inline-block;
        // max-width: $Large;
        // min-width: $Small;

        div.name-and-email {
            display: flex;
            flex-direction: row;
            justify-content: center;
            justify-content: space-between;

            .form-input {
                display: flex;
                flex-direction: column;
                margin: 10px;

                label {
                    text-align: left;
                }

                input {
                    width: 100%;
                }
            }
        }

        div.form-input {
            display: flex;
            flex-direction: column;
            margin: 10px;
            text-align: left;

            label, input, textarea {
                font-size: 1.4rem;
                margin: 5px;
            }

            input, textarea {
                color: $black;
                padding: 10px;
            }
        }

        .phone {
            input {
                max-width: 265px;
            }
        }   

        .submit {
            font-size: 1.4rem;
            margin-top: 30px;
            background-color: $charcoal;
            color: $white;
            transition: all 0.2s ease-out;

            i {
                color: $white;
                transition: all 0.2s ease-out;
                font-size: 1.4rem;
            }

            &:hover {
                cursor: pointer;
                background-color: $queen-blue;
                transition: all 0.2s ease-out;
            }
        }
    }
}
