@import './vars';

footer {
    background: $gradient-black;
    padding: 1rem;

    div.footer-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        #copyright {
            p {
                margin: 10px;
            }
        }
        
        #contact-links {
            a {
                margin: 0 1rem;

                &:first-child i {
                    font-size: 1.5rem;
                }

                i {
                    font-size: 1.8rem;

                    &:hover {
                        color: $queen-blue;
                        // color: #0072b1;
                        // color: #90d6ff;
                    }
                }

                .fa-linkedin:hover {
                    color: #0072b1;
                }

                .fa-facebook-f:hover {
                    color: #4267B2;
                }

                .fa-instagram:hover {
                    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
        }
    }
}